/* .cards {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem 10%;
}
.cards:hover .card-container img {
    opacity: 1;
    cursor: pointer;
}

.cards:hover .card-over {
    transform: translateY(0%);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.5;
}

.card-over {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.904);
    font-size: 1.5rem;
    z-index: 3;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.7s;
    max-height: 60%;
    overflow: auto;
}

.card-over::-webkit-scrollbar {
    display: none;
}

/* Assuming you have title and date inside your CardContent component */
/* .card-over .title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(208, 223, 77, 0.651);
  
    color: blue;
    padding: 1rem;
    border-radius: 10px 20px 20px 20px;
    z-index: 2;
} */

/* .card-over .date {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: rgba(0, 0, 0, 0.795);
    
    color: blue;
    padding: 1rem;
    font-size:0.5rem;
    border-radius: 10px;
    z-index: 2;
} */
